In [2]:
import dummyMain
import modelBuilder as mb
import pandas as pd
nextQ, questionDifficulty, distributions = dummyMain.initialize()
data = pd.read_csv("data.csv")
Qdata = data.iloc[1000:1010]
nextQ = "lsn1_helloworld"
qData = mb.convertRawtoClean(Qdata)

C:\Users\C22Evan.Marrone\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
mb.increaseDifficulty(nextQ, questionDifficulty)

KeyError: "['Unnamed: 0'] not found in axis"

In [10]:
lowerBound = questionDifficulty[questionDifficulty['problem'] == nextQ].index[0]
lowerBound

57

In [12]:
questionDifficulty.iloc[lowerBound:len(questionDifficulty)]

                       problem  difficulty
57             lsn1_helloworld    0.043801
58            lsn6_bits_to_kmg    0.043830
59                  a1_1_dorms    0.044805
60               a2_1_equation    0.045637
61                a3_2_grammys    0.046963
..                         ...         ...
248                 lsn19_100m    0.647131
249            lsn24_education    0.659379
250         lsn15_titanicfares    0.672693
251  lsn15_survivors_by_gender    0.725330
252                 lsn24_nasa    0.742961

[196 rows x 2 columns]

In [6]:
questionDifficulty[questionDifficulty["problem"]==nextQ]

            problem  difficulty
57  lsn1_helloworld    0.043801

In [16]:
lastQ_index = questionDifficulty[questionDifficulty['problem'] == 'a2_6_traffic_lights'].index[0]
questionDifficulty = questionDifficulty.drop([lastQ_index]).reset_index().drop(["index"], axis=1)

In [17]:
questionDifficulty

                       problem  difficulty
0                  lsn23_paint    0.000000
1              a1_4_goldilocks    0.000000
2               a1_4_satellite    0.000000
3                  a1_4_vspeed    0.000000
4                   a3_2_bands    0.000000
..                         ...         ...
247                 lsn19_100m    0.647131
248            lsn24_education    0.659379
249         lsn15_titanicfares    0.672693
250  lsn15_survivors_by_gender    0.725330
251                 lsn24_nasa    0.742961

[252 rows x 2 columns]

In [4]:
questionDifficulty.loc[questionDifficulty.problem =='lsn7_lists']
# mb.maintainDifficulty('a1_7_sickness', questionDifficulty)

        problem  difficulty
283  lsn7_lists    0.207924

In [17]:
questionDifficulty

     Unnamed: 0                    problem  difficulty
0             0              a1_7_sickness    0.000000
1             1             a1_3_satellite    0.000000
2             2                lsn23_paint    0.000000
3             3               a3_2_excuses    0.000000
4             4            a1_4_goldilocks    0.000000
..          ...                        ...         ...
395         395  lsn15_survivors_by_gender    0.725330
396         396                 lsn24_nasa    0.742961
397         397                 Lsn7_lists    0.891572
398         398                 to_the_end    0.913582
399         399                       pex1    1.000000

[400 rows x 3 columns]

In [2]:
mb.nextQuestion(problem, questionDifficulty, distributions, qData)

'a2_4_pipe'

In [4]:
mb.maintainDifficulty(problem, questionDifficulty)

'lsn5_calories'

In [12]:
upperBound = questionDifficulty[questionDifficulty['problem'] == 'a1_2_lessons'].index[0]
lesserDiff = questionDifficulty.iloc[0:upperBound].drop(["Unnamed: 0"], axis=1)

In [18]:
questionDifficulty.iloc[0:upperBound].drop(["Unnamed: 0"], axis=1)

                   problem  difficulty
0            a1_7_sickness         0.0
1           a1_3_satellite         0.0
2              lsn23_paint         0.0
3             a3_2_excuses         0.0
4          a1_4_goldilocks         0.0
5      lsn21_bouncingballs         0.0
6           a1_4_satellite         0.0
7              a1_4_vspeed         0.0
8           a4_5_password          0.0
9               a3_2_bands         0.0
10              a1_5_sound         0.0
11             lsn21_stamp         0.0
12                a1_7_dog         0.0
13          lsn21_triangle         0.0
14              a1_6_paint         0.0
15      lsn22_bouncingball         0.0
16     lsn22_bouncingballs         0.0
17        a1_7_pilot_quals         0.0
18        lsn23_soundboard         0.0
19  lsn22_bouncingtriangle         0.0

In [27]:
questionDifficulty

     Unnamed: 0                    problem  difficulty
0             0              a1_7_sickness    0.000000
1             1             a1_3_satellite    0.000000
2             2                lsn23_paint    0.000000
3             3               a3_2_excuses    0.000000
4             4            a1_4_goldilocks    0.000000
..          ...                        ...         ...
395         395  lsn15_survivors_by_gender    0.725330
396         396                 lsn24_nasa    0.742961
397         397                 Lsn7_lists    0.891572
398         398                 to_the_end    0.913582
399         399                       pex1    1.000000

[400 rows x 3 columns]